<div id="<%= dom_id gundam %>">
  <p>
    <strong>Name:</strong>
    <%= gundam.name %>
  </p>

  <p>
    <strong>Series:</strong>
    <%= gundam.series %>
  </p>

  <p>
    <strong>Scale:</strong>
    <%= gundam.scale %>
  </p>

</div>
